
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    padding: 5%;

}

ul{
    list-style: none;
}

.content{
    display: flex;
    padding: 1rem;
    max-height: 30rem;
    max-width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
}

.info{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1{
    text-align: center;
    font-size: 22px;
}

.info img{
    width: 20rem;
    height: 20rem;
    animation: shake .5s ease-out ;
}

@keyframes shake {
    0% { width: 21rem; }
    50% { width: 22rem;}
    100% { width: 20rem;}
}

.list{
    width: 50%;
    padding: 1rem;
    overflow-y: scroll;
}

.list::-webkit-scrollbar{
    width:10px;
    margin: .2rem;
    border-radius:  1rem;
    background-color: gainsboro;
}
.list::-webkit-scrollbar-thumb{
    border-radius:  1rem;
    background-color: red;
}
.list li{
    padding: 1rem;
    text-align: center;
}
.list li:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.2);
}